// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Maiandra GD', sans-serif;
$font-family-serif: 'Maiandra GD', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #1f308c;
