// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// fontawesome
@import '@fortawesome/fontawesome-free/css/all.css';


